.our_menu {
    background-image: url('./../../../assets/img/section_our_menu_bg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    table {
        width: 500px;
        height: 200px;
    }

    table th{
        font-size: 56px;
        font-family: 'Economica';
        text-align: start;
    }

    table td {
        font-family: 'Raleway';
        font-size: 32px;
        color: #675E54;
        font-weight: bold;
    } 

    >div {
        display: flex;
        align-items: center;
        gap: 80px;       
    }

    img {
        width: 352px;
        height: 352px;
    }

    .menu_left {
    }

    .menu_right {
        padding: 56px 0;
        flex-direction: row-reverse;
    }
}