<div class="our_menu content">
    <h1 class="h1_title">OUR MENU</h1>
    <div class="menu_left">
        <img src="assets/img/R1.png">
        <table>
            <th>Tonkotsu Ramen</th>
            <tr>
                <td>CHICKEN</td>
                <td>11.95€</td>
            </tr>
            <tr>
                <td>BEFF</td>
                <td>12.95€</td>
            </tr>
            <tr>
                <td>SHRIMP</td>
                <td>13.95€</td>
            </tr>
        </table>
    </div>
    <div class="menu_right">
        <img src="assets/img/R2.png">
        <table>
            <th>Spicy Miso Ramen</th>
            <tr>
                <td>CHICKEN</td>
                <td>11.95€</td>
            </tr>
            <tr>
                <td>BEFF</td>
                <td>12.95€</td>
            </tr>
            <tr>
                <td>SHRIMP</td>
                <td>13.95€</td>
            </tr>
        </table>
    </div>
    <div class="menu_left">
        <img src="assets/img/R3.png">
        <table>
            <th>Shio Ramen</th>
            <tr>
                <td>CHICKEN</td>
                <td>11.95€</td>
            </tr>
            <tr>
                <td>BEFF</td>
                <td>12.95€</td>
            </tr>
            <tr>
                <td>SHRIMP</td>
                <td>13.95€</td>
            </tr>
        </table>
    </div>
    
    
</div>

