<div class="how_to_order content">
    <h1 class="h1_title">HOW TO ORDER</h1>
    <div class="menu_to_order">
        <div>
            <img src="./../../../assets/img/noodle.png">
            <span>Pick your<br>noodle</span>
        </div>
        <div>
            <img src="./../../../assets/img/broth.png">
            <span>Pick your<br>broth</span>
        </div>
        <div>
            <img src="./../../../assets/img/egg.png">
            <span>Add your<br>topping</span>
        </div>
    </div>
</div>
